/* Global Styles ============================ */
body {
    background-color: pink;
    font-size: 16px;
    line-height: 1.5rem;
    color: rgb(46, 46, 46);
    font-family: 'Open Sans', sans-serif;
}

h2 {
    line-height: 2rem;
    margin: 45px 0 30px;
}
p {
    margin: 1.5rem 0;
}
.display-none {
    display: none;
}
code {
    background-color: lightgray;
    display: block;
    padding: 20px;
    border-radius: 2px;
    border-left: 4px solid rgb(55, 55, 175);
    -ms-word-break: break-all; 
    word-break: break-all;
}

.note {
    background-color: rgb(193, 231, 255);
    display: block;
    padding: 20px;
    border-radius: 2px;
    border-left: 4px solid rgb(18, 41, 71);
}

.note code, .code, p code {
    padding: 1px;
    background-color: lightgray;
    border-radius: 1px;
    border: none;
    display: inline;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 70vW;
    grid-template-rows: 100vh;
    background-color: yellow;
    grid-template-areas: "navbar main"
                         "navbar main"  ;                    
}
#navbar {
    background-color: rgb(176, 255, 242);
    position: fixed;
    width: 30vw;
    grid-area: navbar;
    height: 100%;
}
.fa-bars{
    padding-left: 15px;
}

#navbar ul {
    list-style-type: none;
    padding-left: 0;
}

#navbar li {
    margin: 20px 0;
    text-align: center;
    background-color: rgb(176, 255, 242);
    padding: 10px 0;
    border-bottom: 2px solid rgb(143, 143, 143);
}
#navbar li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(55, 55, 175);
    font-weight: 600;
}

#navbar header {
    text-align: center;
    padding-top: 25px;
}


table {
    background-color: rgb(233, 233, 233);
    border-collapse: collapse;
}
tr > td:first-child {
    color: rgb(46, 46, 46);
    font-weight: 600;
    padding: 0 10px;
    border-left: 4px solid rgb(0, 94, 66);
}
th:first-child {
    border-left: 4px solid rgb(0, 94, 66);
}

th, td {
    border: 2px solid rgb(250, 250, 250);
}
td {
    padding: 0 10px;
}
table code {
    background-color: transparent;
    border-left: none;
    padding: 0;
}



.main-header header {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: center;
}
#main-doc {
    background-color:  rgb(250, 250, 250);
   grid-area: main;
   padding: 10px 30px;
}

#navbar li a:hover {
    font-weight: 700;
    color: rgb(145, 0, 0);
}

a {
    color: rgb(55, 55, 175);
}
a:hover {
    color: rgb(145, 0, 0);
}
.main-header a {
    color: black; 
    text-decoration: none;
}

.main-header a:hover {
    color: rgb(145, 0, 0);
}
/* Media Queries ============================ */
@media only screen and (max-width: 720px) {
    table {
        font-size: 14px;
    }
}

@media only screen and (max-width: 640px) {
    .display-none {
        display: inline-block;
    }
    .navtoggle {
        display: none;
    }
    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
    }
    .main-header {
        display: inline-block;
    }
    .container {
        grid-template-columns: 100vw;
        grid-template-rows: 0vh 1fr;
        grid-template-areas: 
            "navbar navbar"
            "main main";
    }
    #navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #navbar header {
        display: inline;
    }
    #navbar li {
        display: inline;
        margin: 0;
    }
    #navbar ul {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #main-doc {
        padding-top: 80px;
    }

      .navtoggle.responsive {
          display: block;
          transition: all ease-in-out 2s;
          -webkit-transition: all ease-in-out 2s;
      }
      .navtoggle li:not(:last-child) {
        display: none;
      }

}

@media only screen and (max-width: 550px) {
    .main-header header {
        font-size: 1.5rem;
        font-weight: 600;
    }

    table {
        font-size: 12px;
    }
}
