body {
    background-color: pink;
}

#navbar {
    background-color: green;
    position: fixed;
    width: 30vw;
    grid-area: navbar;
}
#main-doc {
    background-color: purple;
   grid-area: main;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 70vW;
    grid-template-rows: 100vh;
    background-color: yellow;
    grid-template-areas: "navbar main"
                         "navbar main"  ;                    
}


#navbar ul {
    list-style-type: none;
    padding-left: 0;
}

#navbar li {
    margin: 50px 0;
    text-align: center;
    background-color: orange;
}
#navbar header {
    text-align: center;
    padding-top: 25px;
}
@media only screen and (max-width: 640px) {
    .container {
        grid-template-columns: 100vw;
        grid-template-rows: 0vh 1fr;
        grid-template-areas: 
            "navbar navbar"
            "main main";
    }
    #navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #navbar li {
        display: inline;
    }
    #navbar ul {
        font-size: 1rem;
    }
    #main-doc {
        padding-top: 93px;
    }

}