body {
    background-color: pink;
}
.display-none {
    display: none;
}

#navbar {
    background-color: green;
    position: fixed;
    width: 30vw;
    grid-area: navbar;
    height: 100%;
}
#main-doc {
    background-color: purple;
   grid-area: main;
   padding: 0 15px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 70vW;
    grid-template-rows: 100vh;
    background-color: yellow;
    grid-template-areas: "navbar main"
                         "navbar main"  ;                    
}


#navbar ul {
    list-style-type: none;
    padding-left: 0;
}

#navbar li {
    margin: 50px 0;
    text-align: center;
    background-color: orange;
    padding: 10px 0;
}
#navbar header {
    text-align: center;
    padding-top: 25px;
}
@media only screen and (max-width: 640px) {
    .display-none {
        display: inline-block;
    }
    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
    }
    .main-header {
        display: inline-block;
    }
    .container {
        grid-template-columns: 100vw;
        grid-template-rows: 0vh 1fr;
        grid-template-areas: 
            "navbar navbar"
            "main main";
    }
    #navbar {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }
    #navbar header {
        display: inline;
    }
    #navbar li {
        display: inline;
        margin: 0;
 
    }
    #navbar ul {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #main-doc {
        padding-top: 93px;
    }

}